html, body {    
     margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}

.container{
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

/*box start*/
	.box{
		background-color: #313c5a;
		text-align: center;
		padding: 0px;
	}
	.Profile{
		margin-top: 250px;
		border-radius: 50%;
	}
	.introduce{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: white;
	}
/*box end*/

/*Tittle start*/
	.containerTittleEven{	
		background-color: #f2f2f2;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.containerTittleOdd{
		background-color: #313c5a;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.Tittle{
		font-family: 'Roboto', sans-serif;
		margin-top: 75px;
		margin-bottom: 50px;
	}
	.TittleEven{
		color: #313c5a;
	}
	.TittleOdd{
		color: white;
	}

/*Tittle End*/

/*subContainer1 Start*/
	.subContainer1{
		display: grid;
		grid-template-columns: 750px;
		justify-content: center;
	}

	.littleContainer{
		height: 150px;
		width: 750px;
		border: 1px solid #ededed;
		border-radius: 8px;
		margin-bottom: 35px;
		padding: 15px;

	}
	.littleContainerInvisible{
		height: 150px;
		width: 750px;
		padding: 15px;
		margin-bottom: 20px;
	}

	.born{
		display: grid;
		grid-template-columns: 1fr;
		color: white;
		justify-content: center;
	}

	.date{
		margin-bottom: 15px;
		color: #5a5a5a;
		font-family: 'Roboto', sans-serif;
	}
	.littleTittle{
		color: #313c5a;
		margin-left: 5px;
		font-family: 'Roboto', sans-serif;
	}

	.GPA{
		margin-left: 82%;
		color: #5a5a5a;
		margin-top: 50px;
	}
/*subContainer1 End*/

/*subContainerSkill*/
	.containerSkill{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		background-color: #f2f2f2;
		color: #313c5a;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 15px;
		padding: 5px;
	}
	.skillTittle{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.subContainerSkill{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 5px;
		justify-content: left;
		padding-left: 50px;
		padding-top: 5px;
		padding-bottom: 15px;
		justify-content: right;
	}

	.caution{
		margin-top: 85px;
		margin-bottom: 80px;
		font-size: 15px;
	}
	.skill{
	}

/*subContainer2 Start*/
	.subContainer2{
		display: grid;
		grid-template-columns: 0.3fr 0.3fr;
		grid-template-areas: 
		"c1 c2";
		grid-column-gap: 10rem;
		justify-content: center;
		margin-bottom: 15px;

	}

	.littleProjectContainer1{
		grid-area: c1;
		border-radius: 8px;
		padding: 15px;
		border: 1px solid #ededed;
	}

	.littleProjectContainer2{
		grid-area: c2;
		border-radius: 8px;
		padding: 15px;
		border: 1px solid #ededed;
	}



	.projectTittle{
		text-align: center;
		color: #13304c;
	}

	.grayColor{
		color: #9e9e9e;
	}
	.button{
		background-color: white;
		padding-top: 15px;
		cursor: pointer;
	}
	.button:hover{
		cursor: pointer;
		background-color: #eeeeee;
	}

	.subContainer2 a{
		text-decoration: none;
	}
	
	.button:active{
		background-color: #eeeeee;
	}
/*subContainer2 end*/
/*Footer begin*/
	.footer{
		display: grid;
		grid-template-columns: 400px;
		justify-content: center;
		margin-top: 100px;
		background-color: #404040;
		padding-top: 15px;
		padding-bottom: 2px;
		text-align: center;
		color: white;
	}

	.contact{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5rem;
		justify-content: center;
	}

	#godown{
		margin-top: 50px;
	}

	.footer a{
		color: white;
		text-decoration:none;
	}

	.footer a:hover{
		text-decoration: underline;
		color: #6b6b6b;
	}

	.footer a:active {
  		color: #eeeeee;
	}

	.WA{
		color: #1E88E5;
	}

/*Footer End*/