body{
	margin: 0px; 
}
.container{
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

/*box start*/
	.box{
		background-color: #313c5a;
		text-align: center;
		padding: 0px;
	}
	.Profile{
		margin-top: 250px;
		border-radius: 50%;
	}
	.introduce{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: white;
	}
/*box end*/

/*Tittle start*/
	.containerTittleEven{	
		background-color: #f2f2f2;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.containerTittleOdd{
		background-color: #313c5a;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.Tittle{
		font-family: 'Roboto', sans-serif;
		margin-top: 75px;
		margin-bottom: 50px;
	}
	.TittleEven{
		color: #313c5a;
	}
	.TittleOdd{
		color: white;
	}

/*Tittle End*/

/*subContainer1 Start*/
	.subContainer1{
		display: grid;
		grid-template-columns: 750px;
		justify-content: center;
	}

	.littleContainer{
		height: 150px;
		width: 750px;
		border: 1px solid #ededed;
		border-radius: 8px;
		margin-bottom: 35px;
		padding: 15px;

	}

	.born{
		display: grid;
		grid-template-columns: 1fr;
		color: white;
		justify-content: center;
	}

	.date{
		margin-bottom: 15px;
		color: #5a5a5a;
		font-family: 'Roboto', sans-serif;
	}
	.littleTittle{
		color: #313c5a;
		margin-left: 5px;
		font-family: 'Roboto', sans-serif;
	}

	.GPA{
		margin-left: 82%;
		color: #5a5a5a;
		margin-top: 50px;
	}
/*subContainer1 End*/

/*subContainerSkill*/
	.containerSkill{
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 225px;
		background-color: #f2f2f2;
		color: #313c5a;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 15px;
		padding: 5px;
	}
	.skillTittle{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.subContainerSkill{
		display: grid;
		grid-template-columns: 15px 15px;
		grid-column-gap: 80px;
		justify-content: left;
		margin-left: 50px;
		padding: 5px;
	}

	.caution{
		margin-top: 85px;
		margin-bottom: 80px;
		font-size: 12px;
	}
	.skill{
		font-size: 18px;
	}

/*subContainer2 Start*/
	.subContainer2{
		display: grid;
		grid-template-columns: 400px 400px;
		grid-column-gap: 50px;
		justify-content: center;
		margin-bottom: 15px;
		padding: 5px;

	}

	.littleProjectContainer{
		border-radius: 8px;
		padding: 10px;
		border: 1px solid #ededed;
	}

	.projectTittle{
		text-align: center;
		color: #13304c;
	}

	.grayColor{
		color: #9e9e9e;
	}
	.button{
		background-color: white;
		padding-top: 25px;
	}
	button:hover{
		cursor: pointer;
		background-color: #eeeeee;
	}
/*subContainer2 end*/
/*Footer begin*/
	.footer{
		display: grid;
		grid-template-columns: 400px;
		justify-content: center;
		margin-top: 100px;
		background-color: #404040;
		padding-top: 15px;
		padding-bottom: 2px;
		text-align: center;
		color: white
	}

	.contact{
		display: grid;
		grid-template-columns: 400px 400px;
		grid-gap: 50px;
		justify-content: center;
	}

	#godown{
		margin-top: 50px;
	}

	.footer a{
		color: white;
		text-decoration:none;
	}

	.footer a:hover{
		text-decoration: underline;
		color: #6b6b6b;
	}

	.footer a:active {
  		color: #eeeeee;
	}

/*Footer End*/