body{
	margin: 0px; 
}
.container{
	display: grid;
	grid-template-columns: 1fr;
}

/*box start*/
.box{
	background-color: #313c5a;
	text-align: center;
	padding: 0px;
}
.Profile{
	margin-top: 50px;
	border-radius: 50%;
}
.quotes{
	font-family: 'Thasadith', sans-serif;
	font-size: 50px;
	color: white;
}
/*box end*/

/*Tittle start*/
.containerTittleEven{	
	background-color: #f2f2f2;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
.containerTittleOdd{
	background-color: #313c5a;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
.Tittle{
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	margin-bottom: 20px;
}
.TittleEven{
	color: #313c5a;
}
.TittleOdd{
	color: white;
}

/*Tittle End*/

/*subContainer1 Start*/
.subContainer1{
	display: grid;
	grid-template-columns: 750px;
	justify-content: center;
}

.littleContainer{
	height: 150px;
	width: 750px;
	border: 1px solid #ededed;
	border-radius: 8px;
	margin-bottom: 25px;
	padding: 5px;

}

.date{
	margin-bottom: 15px;
	color: #5a5a5a;
	font-family: 'Roboto', sans-serif;
}
.littleTittle{
	color: #313c5a;
	margin-left: 5px;
	font-family: 'Roboto', sans-serif;
}
/*subContainer1 End*/

